<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bachelorsrealwear"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/zch_checklist_logos2"
        android:label="Checklist"
        android:roundIcon="@drawable/zch_checklist_logos2"
        android:supportsRtl="true"
        android:theme="@style/Theme.BachelorsRealwear"
        tools:targetApi="31">

        <!-- Launcher activity set to ChecklistSelector -->
        <activity android:name=".presentation.ui.pages.TechnicianInfoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!-- Checklist activity -->
        <activity android:name=".presentation.ui.pages.ChecklistPageActivity" />
        <activity android:name=".presentation.ui.pages.CreateToolActivity" />
        <activity android:name=".presentation.ui.pages.PhotoCaptureActivity" />
        <activity android:name=".presentation.ui.pages.PdfSaveActivity" />
        <activity android:name=".presentation.ui.pages.ChecklistSelectorActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>

</manifest>
